{% extends "base.html" %}

{% block content %}
<h1>Sign-Up</h1>
<form action="/" method="POST">
    <table>
        <tr>
            <td><label for="username_id">User_Name</label></td>
            <td><input id="username_id" type="text" name="username" value="{{username_value}}" /></td>
            <td><span class='error'>{{username_error}}</span></td>
        </tr>
        <tr>
            <td><label for="passowrd_id">Password</label></td>
            <td><input id="password_id" type="password" name="password" value="" /></td>
            <td><span class='error'>{{password_error}}</span></td>
        </tr>
            <td><label for="v_password_id">Verify Password</label></td>
            <td><input id="v_password_id" type="password" name="v_password" value="" /></td>
            <td><span class='error'>{{v_password_error}}</span>
        <tr>
            <td><label for="email_id">Email(optional)</label></td>
            <td><input id="email_id" type="text" name="email" value="{{email_value}}" /></td>
            <td><span class='error'>{{email_error}}</span></td>
        </tr>
    </table>
        <input type="submit" value="You better submit it!"/>
        
</form>


{% endblock content %}